.judul h3 {
    position: relative;
	display:inline-block;
	display:-webkit-inline-block;
    font-size: 17px;
}
.judul h3:after {
    content: "";
    width: 2px;
    height: 85%;
    background: black;
    position: absolute;
    left: 115%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.line{
	
	background: #C3922E;
	z-index:9;
}			
.line-top {
   width:0;
    position: absolute;
    height: 6px;
     
    top: 0;
	-moz-transition: width 0.4s ease-out 1.2s;
    -o-transition: width 0.4s ease-out 1.2s;
    -webkit-transition: width 0.4s ease-out 1.2s;
    transition: width 0.4s ease-out 1.2s;
}
.hover:hover .line-top  {
	 width:100%;
    -moz-transition: width 0.4s ease-out ;
    -o-transition: width 0.4s ease-out ;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out ;
}
.line-down {
	bottom:0;
    position: absolute;
	 width:0;
    height: 6px;
    width: 0;
	right:0;
	 -moz-transition: width 0.4s ease-out 0.4s;
    -o-transition: width 0.4s ease-out 0.4s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: width 0.4s ease-out 0.4s;
    
}
.hover:hover .line-down {
	 width: 100%;
    -moz-transition: width 0.4s ease-out 0.8s;
    -o-transition: width 0.4s ease-out 0.8s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: width 0.4s ease-out 0.8s;
}
.line-right {
    position: absolute;
	  
    width: 6px;
    height: 0;
    top: 0;
    right: 0;
	-moz-transition: height 0.4s ease-out 0.8s;
    -o-transition: height 0.4s ease-out 0.8s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: height 0.4s ease-out 0.8s;
	
   
}
.hover:hover .line-right {
	 height: 100%;
    -moz-transition: height 0.4s ease-out 0.4s;
    -o-transition: height 0.4s ease-out 0.4s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: height 0.4s ease-out 0.4s;
}
.line-left {
    position: ABSOLUTE;
    height: 0;
    bottom: 0;
   
    width: 6px;
	-moz-transition: height 0.4s ease-out ;
    -o-transition: height 0.4s ease-out ;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0;
    transition: height 0.4s ease-out ;
	
}
.soc-med{

padding:20px;

}
.hover:hover .line-left {
    
    height: 100%;
    bottom: 0;
	 -moz-transition: height 0.4s ease-out 1.2s;
    -o-transition: height 0.4s ease-out 1.2s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 1.2s;
    transition: height 0.4s ease-out 1.2s;
   
	
}
.add-title-contact-us{

	margin-left: 70px;color: black;font-size: 20px;
	position:relative;
}
.add-title-contact-us.padding-top{

	padding-top:30px;
}
.add-title-contact-us:after {
    content: "";
    position: absolute;
    width: 51px;
    height: 2px;
    background: black;
    bottom: 7px;
    left: -62px;
}
.form-control-contact-us{

	background-color: #893236;

}
.btn-contact-us{
	background-color: #893236;
	color:white;
	padding:10px 30px;
}