.read-more-list a {

	color: black;
    font-size: 20px;
	position:relative;
}
.read-more-list .line-read-more{

	position: absolute;
    width: 45%;
    height: 2px;
    top: 50%;
    right: 108%;
    transform: translateY(-50%);
    background: black;

}
.read-more-list {
    padding-top: 40px;
    padding-left: 20%;

}
.news-box {
    padding: 3%;
    color: #6F6F6F;
}
.detail-news-box {
    padding: 3% 0px;
}
.detail-news-box .inner-news h1{

	margin: 0;
    font-size: 19px;
    color: rgb(137, 50, 54);
    font-weight: 600;

}
.detail-news-box .inner-news p.date {
    font-size: 18px;
    padding: 5px 0px;
    color: #893236;
}
.detail-news-box .inner-news img{
	padding-bottom:30px;
}
.detail-news-box .inner-news p.isi {
    font-size: 12px;
    line-height: 2;
    text-align: justify;
}
.inner-news h2 {
    font-size: 17px;
    line-height: 1.3;
}

p.date {
    font-size: 12px;
}

p.isi {
    font-size: 12px;
    line-height: 1.5;
	text-align: justify;
}