.row{
 
	margin:0;
 
 }
 .inner{
	padding-top:40px;
 }
 .judul h3 {
    position: relative;
	display:inline-block;
	display:-webkit-inline-block;
    font-size: 17px;
}
.judul h3:after {
    content: "";
    width: 2px;
    height: 85%;
    background: black;
    position: absolute;
    left: 115%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.gallery-menu ul{

	padding-left:30px;

}
.gallery-menu li {
    list-style: none;
    float: left;
    padding: 0px 40px 0px 10px;
    display: inline-block;
	font-size:12px;
	cursor:pointer;
	position:relative;
}
.gallery-menu ul li:after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent url('../img/logo_2.png') no-repeat;
    position: absolute;
    background-size: contain;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.carousel-gallery{
	padding-top:40px;
	height : 50%;
	
}

.carousel-gallery .owl-nav{

    position: absolute;
    top: 50%;
    width: 100%;


}
.carousel-gallery .owl-prev{
    transition: opacity 0.8s;
    left: -8%;
}
.carousel-gallery .owl-next{
    transition: opacity 0.8s;
    right: -8%;
}
.owl-theme .owl-nav [class*='owl-'] {
	position: absolute;
    border-radius: 50%;
    font-size:45px;
    width: 50px;
    height: 50px;
    margin: 0;
    opacity: 0.7;
    background: Transparent;
    color: #500202;
    border: 4px solid;
	
}
.trigger.active {
color: #DDAD4C;
}
.owl-nav i {

    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.owl-carousel .owl-item img.img-70 {
  display: block;
width: 70%;
margin: 0 auto;
}
.row.judul{
margin-left: -10%;
}
.single{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.box-info{
top:8%;
right:10%;
width: 30%;
background-color: #893236;
position: absolute;
    padding: 6% 2%;
color: white;
font-size: 10px;
}
img.img-100{
	
	display:block;
	width:100%;
	
}
@media (max-width: 769px){
	
	.box-info.box-relative-sm{
		width:100%;
		position:relative;
		display:block;
		right:0;
	}

}

.line{
	
	background: #C3922E;
	z-index:9;
}			
.line-top,.line-top2 {
   width:0;
    position: absolute;
    height: 6px;
     
    top: 0;
	-moz-transition: width 0.4s ease-out 1.2s;
    -o-transition: width 0.4s ease-out 1.2s;
    -webkit-transition: width 0.4s ease-out 1.2s;
    transition: width 0.4s ease-out 1.2s;
}
.hover:hover .line-top  {
	 width:100%;
    -moz-transition: width 0.4s ease-out ;
    -o-transition: width 0.4s ease-out ;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out ;
}
.hover:hover .line-top2  {
	 width:97%;
    -moz-transition: width 0.4s ease-out ;
    -o-transition: width 0.4s ease-out ;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out ;
}
.line-down,.line-down2 {
	bottom:0;
    position: absolute;
	 width:0;
    height: 6px;
    width: 0;
	right:0;
	 -moz-transition: width 0.4s ease-out 0.4s;
    -o-transition: width 0.4s ease-out 0.4s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: width 0.4s ease-out 0.4s;
}

.hover:hover .line-down {
	 width: 100%;
    -moz-transition: width 0.4s ease-out 0.8s;
    -o-transition: width 0.4s ease-out 0.8s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: width 0.4s ease-out 0.8s;
}
.hover:hover .line-down2 {
	 width: 100%;
    -moz-transition: width 0.4s ease-out 0.8s;
    -o-transition: width 0.4s ease-out 0.8s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: width 0.4s ease-out 0.8s;
}
.line-right {
    position: absolute;
	  
    width: 6px;
    height: 0;
    top: 0;
    right: 0;
	-moz-transition: height 0.4s ease-out 0.8s;
    -o-transition: height 0.4s ease-out 0.8s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: height 0.4s ease-out 0.8s;
	
   
}
.hover:hover .line-right {
	 height: 100%;
    -moz-transition: height 0.4s ease-out 0.4s;
    -o-transition: height 0.4s ease-out 0.4s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: height 0.4s ease-out 0.4s;
}
.line-left {
    position: ABSOLUTE;
    height: 0;
    bottom: 0;
   
    width: 6px;
	-moz-transition: height 0.4s ease-out ;
    -o-transition: height 0.4s ease-out ;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0;
    transition: height 0.4s ease-out ;
	
}
.hover:hover .line-left {
    
    height: 100%;
    bottom: 0;
	 -moz-transition: height 0.4s ease-out 1.2s;
    -o-transition: height 0.4s ease-out 1.2s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 1.2s;
    transition: height 0.4s ease-out 1.2s;
   
	
}