.judul h3 {
    position: relative;
	display:inline-block;
	display:-webkit-inline-block;
    font-size: 17px;
}
.judul h3:after {
    content: "";
    width: 2px;
    height: 85%;
    background: black;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}