.overlay-item {
    background: rgba(0, 0, 0, 0.31);
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousle-head .owl-stage-outer {
    height: 100% !important;
}
.carousle-head .owl-stage-outer {
    height: 100% !important;    
}

.carousle-head .owl-stage {
     height: 100%;   
}

.carousle-head .owl-item {
    height: 100%;
}
 a:focus, a:hover {
    text-decoration: none;
}
 

 section#head {
    min-height: 100%;
    width: 100%;
   
}
.carousle-head {
    width: 100%;
    height: 100%;
    position: absolute;
}

.carousle-head .item {
    width: 100%;
    height: 100%;
}
.carousle-head .item.one {
    background: url(../img/synthesis.png) center top no-repeat;
    background-size: cover;
}
.carousle-head .item.two {
    background: url(../img/slide2.jpg) center top no-repeat;
    background-size: cover;
}
.carousle-head .item.three {
    background: url(../img/slide3.jpg) center top no-repeat;
    background-size: cover;
}
.logo {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
	-webkit-transform: translateX(-50%) translatey(-50%);
	z-index:9;
}
.btn-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
	z-index:9;
}
.btn-next span img {
   
    position: absolute;
   
  
    width: 100%;
    right: 0;
   
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=$m11, M12=$m12, M21=$m21, M22=$m22, sizingMethod='auto expand');
    zoom: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
@-webkit-keyframes overflowAnimation {
   from { margin-left: -40px; }
   to   { margin-left: 40px; }
}
@-webkit-keyframes reverseOverflowAnimation {
   from { margin-left: 40px; }
   to   { margin-left: -40px; }
}
.btn-next span {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
	
    //-webkit-animation: reverseOverflowAnimation 2.5s ease forwards infinite;
    //-ms-animation: reverseOverflowAnimation 2.5s ease forwards infinite;
    //-o-animation: reverseOverflowAnimation 2.5s ease forwards infinite;
    //animation: reverseOverflowAnimation 2.5s ease forwards infinite;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px;
    font-size: 12px;
}
.navbar-default .navbar-nav>li>a {
   color: #CD9858;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
.row{

	margin:0;

}
.box-title {
    position: absolute;
    width: 64%;
   background: rgba(49, 3, 3, 0.56);
    padding: 32%;
    transform: rotate(-45deg) translateY(-50%);
    top: 39%;
        right: -100%;
    border: 8px solid #B37B2B;
	transition:all 0.5s  0.2s;
	opacity:0;
}
.diamond-animate:hover .box-title{
	opacity:1;
	right:-37%;
	
}
.diamond-animate:hover .box-title-2{
	opacity:1;
	 left: 10%;
	
}
.box-title-2 {
    position: absolute;
    width: 54%;
  background: rgba(49, 3, 3, 0.56);
    padding: 27%;
    transform: rotate(-45deg) translateY(-50%);
    top: 39%;
       left: -100%;
    border: 8px solid #B37B2B;
	opacity:0;
	transition:all 0.5s  0.2s;
}
.title-cont {
    position: absolute;
    top: 35%;
    transform: translatey(-50%);
	width:50%;
    right: 7%;
    color: white;
    text-align: right;
}
.vertical-center{
			float:none;
		display:inline-block;
		vertical-align:middle;
		margin-right:-4px;
			}
.vertical-bottom{
			float:none;
		display:inline-block;
		vertical-align:bottom;
		margin-right:-4px;
			}
			
			
.line{
	
	background: #C3922E;
	z-index:9;
}			
.line-top {
   width:0;
    position: absolute;
    height: 6px;
     
    top: 0;
	-moz-transition: width 0.4s ease-out 1.2s;
    -o-transition: width 0.4s ease-out 1.2s;
    -webkit-transition: width 0.4s ease-out 1.2s;
    transition: width 0.4s ease-out 1.2s;
}
.hover:hover .line-top  {
	 width:100%;
    -moz-transition: width 0.4s ease-out ;
    -o-transition: width 0.4s ease-out ;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out ;
}
.line-down {
	bottom:0;
    position: absolute;
	 width:0;
    height: 6px;
    width: 0;
	right:0;
	 -moz-transition: width 0.4s ease-out 0.4s;
    -o-transition: width 0.4s ease-out 0.4s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: width 0.4s ease-out 0.4s;
    
}
.hover:hover .line-down {
	 width: 100%;
    -moz-transition: width 0.4s ease-out 0.8s;
    -o-transition: width 0.4s ease-out 0.8s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: width 0.4s ease-out 0.8s;
}
.line-right {
    position: absolute;
	  
    width: 6px;
    height: 0;
    top: 0;
    right: 0;
	-moz-transition: height 0.4s ease-out 0.8s;
    -o-transition: height 0.4s ease-out 0.8s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: height 0.4s ease-out 0.8s;
	
   
}
.hover:hover .line-right {
	 height: 100%;
    -moz-transition: height 0.4s ease-out 0.4s;
    -o-transition: height 0.4s ease-out 0.4s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: height 0.4s ease-out 0.4s;
}
.line-left {
    position: ABSOLUTE;
    height: 0;
    bottom: 0;
   
    width: 6px;
	-moz-transition: height 0.4s ease-out ;
    -o-transition: height 0.4s ease-out ;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0;
    transition: height 0.4s ease-out ;
	
}
.hover:hover .line-left {
    
    height: 100%;
    bottom: 0;
	 -moz-transition: height 0.4s ease-out 1.2s;
    -o-transition: height 0.4s ease-out 1.2s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 1.2s;
    transition: height 0.4s ease-out 1.2s;
   
	
}
.add-title{

	margin-left: 70px;color: white;font-size: 20px;
	position:relative;
}
.add-title:after {
    content: "";
    position: absolute;
    width: 51px;
    height: 2px;
    background: white;
    bottom: 7px;
    left: -62px;
}
.custom-icon {
  font-size:45px;
  background:#666;
  background:rgba(0,0,0,0.4);
  padding:30px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:6px solid #fff;
  color:#fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:60px;
  height:60px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.soc-med{

padding:20px;

}
h3.title{

font-size: 16px;
    font-weight: lighter;
    color: #EAEAEA;
    margin: 0;

}
p.isi {
    font-size: 12px;
    padding-top: 20px;
    color: white;
}

.title-cont-2 {
    position: absolute;
	z-index:9;
    left:5%;
    background: rgba(137, 50, 54, 0.71);
    top: 0;
    padding: 5%;
}
.title-cont-4 {
    position: absolute;
    left: 0;
    background: rgba(137, 50, 54, 0.71);
    top: 50%;
    padding: 5%;
    transform: translateY(-50%);
}

.title-cont-2 h2,.title-cont-3 h2,.title-cont-2 h2,.title-cont-4 h2{

	color: white;

}
.title-cont-2 h2,.title-cont-4 h2{

	font-size:12px;

}
.title-cont-3 {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.read-more a {

	color: white;
    font-size: 20px;
	position:relative;
}
.line-read-more{

	position: absolute;
   width: 56px;
    height: 2px;
    top: 50%;
    right: 108%;
    transform: translateY(-50%);
    background: white;

}
.read-more {
    padding-top: 20px;
	padding-left: 70px;
}
.img-50{
	width: 50%;margin: 0 auto;display: block;
}
.img-100{
	width: 100%;
}
.padding{
	padding:40px 0px;
}
.box-product{
	position: absolute;
	min-height: 50%;
	background: rgba(130,38,42,0.93);
	bottom: 0;
	right: -25%;
	padding: 17px 10%;
	width: 45%;
}
.isi-box{
	left: 6%;
	width: 40%;
	color: #FFFFFF;
	text-align:left;
	top: 43%;
}
.title-cont a {
    color: white;
}