.menu-mini {
    top: 0;
    position: fixed;
    transform: translateY(0%);
    font-size: 40px;
    color: #B7B7B7;
    opacity: 0.2;
    z-index: 99;
    transition: all0.5s;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: black;
}
.menu-mini:hover {
    
    opacity: 1;
   
}
.menu {
    position: fixed;
    z-index: 99;
    background: #7D272A;
    color: white;
    height: 100%;
    overflow-y: scroll;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
	width:260px;
}
 #maino.out{
	/*  -webkit-transition: all 0.5s;
    transition: all 0.5s;
	transform:translateX(260px); */
	 
 }
 #maino{
	position: relative;
    height: 100%;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
 }
 body {
	 overflow-x: hidden;
 }
.menu.active {
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu .box {
    /* overflow-y: scroll; */
}

.menu .box ul {
    list-style: none;
    padding: 0px 20%;
}

.menu .box li {
   padding: 30px 0px 20px 0px;
    text-align: center;
    border-bottom: 2px solid rgba(191, 116, 40, 0.66);
    font-size: 11px;
    color: #D49400;
}
.menu .header{

	padding: 100px 0px 40px 0px;

}

.menu .header img, .menu-trigger .header img{
	cursor:pointer;
	display: block;
    margin: 0 auto;

}
.menu-trigger.out {
	-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.menu-trigger {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #893236;
    z-index: 3;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-trigger .header {
    padding: 50px 0;
}
.menu-trigger .nav-item {
    height: 20px;
    border-bottom: 1px solid #B5782A;
	cursor:pointer;
    width: 60%;
    position: relative;
    left: 15%;
    padding-bottom: 50px;
}