.line-2{
	
	background: #893236;
	z-index:9;
}			
.line-top {
   width:0;
    position: absolute;
    height: 6px;
     
    top: 0;
	-moz-transition: width 0.4s ease-out 1.2s;
    -o-transition: width 0.4s ease-out 1.2s;
    -webkit-transition: width 0.4s ease-out 1.2s;
    transition: width 0.4s ease-out 1.2s;
}
.hover:hover .line-top  {
	 width:100%;
    -moz-transition: width 0.4s ease-out ;
    -o-transition: width 0.4s ease-out ;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out ;
}
.line-down {
	bottom:0;
    position: absolute;
	 width:0;
    height: 6px;
    width: 0;
	right:0;
	 -moz-transition: width 0.4s ease-out 0.4s;
    -o-transition: width 0.4s ease-out 0.4s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: width 0.4s ease-out 0.4s;
    
}
.hover:hover .line-down {
	 width: 100%;
    -moz-transition: width 0.4s ease-out 0.8s;
    -o-transition: width 0.4s ease-out 0.8s;
    -webkit-transition: width 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: width 0.4s ease-out 0.8s;
}
.line-right {
    position: absolute;
	  
    width: 6px;
    height: 0;
    top: 0;
    right: 0;
	-moz-transition: height 0.4s ease-out 0.8s;
    -o-transition: height 0.4s ease-out 0.8s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.8s;
    transition: height 0.4s ease-out 0.8s;
	
   
}
.hover:hover .line-right {
	 height: 100%;
    -moz-transition: height 0.4s ease-out 0.4s;
    -o-transition: height 0.4s ease-out 0.4s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0.4s;
    transition: height 0.4s ease-out 0.4s;
}
.line-left {
    position: ABSOLUTE;
    height: 0;
    bottom: 0;
   
    width: 6px;
	-moz-transition: height 0.4s ease-out ;
    -o-transition: height 0.4s ease-out ;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 0;
    transition: height 0.4s ease-out ;
	
}
.hover:hover .line-left {
    
    height: 100%;
    bottom: 0;
	 -moz-transition: height 0.4s ease-out 1.2s;
    -o-transition: height 0.4s ease-out 1.2s;
    -webkit-transition: height 0.4s ease-out;
    -webkit-transition-delay: 1.2s;
    transition: height 0.4s ease-out 1.2s;
   
	
}
.row{
 
	margin:0;
 
 }

.menu {
    position: fixed;
    z-index: 99;
    background: #7D272A;
    color: white;
    height: 100%;
    overflow-y: scroll;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.menu.active {
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu .box {
    /* overflow-y: scroll; */
}

.menu .box ul {
    list-style: none;
    padding: 0px 20%;
}

.menu .box li {
   padding: 30px 0px 20px 0px;
    text-align: center;
    border-bottom: 2px solid rgba(191, 116, 40, 0.66);
    font-size: 11px;
    color: #D49400;
}
.menu .header{

	padding: 100px 0px 40px 0px;

}

.menu .header img, .menu-trigger .header img{
	cursor:pointer;
	display: block;
    margin: 0 auto;

}
.menu-trigger.out {
	-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.menu-trigger {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #893236;
    z-index: 3;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-trigger .header {
    padding: 50px 0;
}
.menu-trigger .nav-item {
    height: 20px;
    border-bottom: 1px solid #B5782A;
	cursor:pointer;
    width: 60%;
    position: relative;
    left: 15%;
    padding-bottom: 50px;
}

.read-more a {

	color: white;
    font-size: 20px;
	position:relative;
}
.line-read-more{

	position: absolute;
    width: 80%;
    height: 2px;
    top: 50%;
    right: 108%;
    transform: translateY(-50%);
    background: white;

}
.read-more {
    padding-top: 40px;
}
.news-box {
    padding: 3%;
    color: #6F6F6F;
	cursor:pointer;
}
.inner-news {
    color: rgba(0, 0, 0, 0.41);
}
.inner-news h2 {
    font-size: 17px;
    line-height: 1.3;
}

p.date {
    font-size: 12px;
}

p.isi {
    font-size: 12px;
    line-height: 1.5;
	text-align: justify;
}